@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0.3)
  );

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden; 
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black !important;
}

a {
  color: inherit;
  text-decoration: none !important; 
}

html {
  color-scheme: dark;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/Montserrat-VariableFont_wght.ttf") format("woff"),
    url("/Montserrat-VariableFont_wght.ttf") format("opentype"),
    url("/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url("/Montserrat-Bold.ttf") format("woff"),
    url("/Montserrat-Bold.ttf") format("opentype"),
    url("/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("/Montserrat-SemiBold.ttf") format("woff"),
    url("/Montserrat-SemiBold.ttf") format("opentype"),
    url("/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/Montserrat-Medium.ttf") format("woff"),
    url("/Montserrat-Medium.ttf") format("opentype"),
    url("/Montserrat-Medium.ttf") format("truetype");
}

.bg-theme-color{
  background-color: #00F2CD !important;
}

.text-theme-color{
  color: #00F2CD !important;
}

.bg{ 
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-color: black;
}
 